<!-- Страница для добавления новой еды -->
@model CafeWeb.Models.AdminFoodModel
<!doctype html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/IMG/logo-cafe.png" type="image/png">
    <link href="~/CSS/admin-food.css" rel="stylesheet" />
    <title> Добавление новой позиции </title>
</head>
<body>
    <noscript>
        <!-- Отображается только если у пользователя выключен js в браузере -->
        <div style="background-color: #f44336; color: white; padding: 20px; text-align: center;">
            Для полноценной работы сайта включите JavaScript в настройках вашего браузера.
        </div>
    </noscript>
    <!-- Кнопка для открытия модального окна -->
    <div class="container">
        <div class="admin-header">
            <button id="openFoodModal" class="add-food-btn">Добавить блюдо</button>
            <button id="exit" onclick="goToPage('/admin/index')">В админские угодия</button>
        </div>

        <div class="menu">
            @if (Model.Categories != null && Model.Categories.Any())
                {   
                    <h1>Позиции, которые уже существуют:</h1>

                    <div class="menu-position">
                        
                        @foreach (var kvp in Model.ExistingFood)
                        {
                            <div class="card">
                                <div class="card-images">
                                    <img id="front-img" src="@Url.Content($"~{kvp.Value.FrontImageAddress}")" alt="@kvp.Value.Name" class="front-image" />
                                    <img id="back-img" src="@Url.Content($"~{kvp.Value.BackImageAddress}")" alt="@kvp.Value.Name" class="back-image" />
                                </div>
                                <span class="card-title">@kvp.Value.Name</span>
                            </div>
                        }
                </div>
            }
            else
            {
                <p>Не удалось получить список категорий</p> <br />
            }
        </div>
    </div>
    
    <div style="display: none;">
        <form id="originalForm" method="post" action="/admin/addfood" enctype="multipart/form-data">
            @if (Model.Categories != null && Model.Categories.Any())
            {
                <label>Категория: </label>
                <select name="SelectedCategory">
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category">@category</option>
                    }
                </select> <br />

                <label>Название: </label> <br />
                <input type="text" name="Food.Name" maxlength="100" required /> <br />

                <label>Цена: </label> <br />
                <input type="number" name="Food.Price" max="99999.99" step="0.01" min="0" required /> <br />

                <label>Калории (на 100г): </label> <br />
                <input type="number" name="Food.Calories" max="99999.99" step="0.01" min="0" required /> <br />

                <label>Вес (в граммах): </label> <br />
                <input type="number" name="Food.Weight" max="99999.99" step="0.01" min="0" required /> <br />

                <label>Ингредиенты:</label> <br />
                <textarea name="Food.Ingredients" required></textarea> <br />

                <label>Описание:</label> <br />
                <textarea name="Food.Description" required></textarea> <br />

                <label>Переднее фото: </label> <br />
                <div class="file-wrapper">
                    <input class="photo" type="file" name="FrontPhoto" accept="image/*" required /> <br />
                    <span class="file-btn">Выберите файл</span>
                </div>

                <label>Заднее фото: </label> <br />
                <div class="file-wrapper">
                    <input class="photo" type="file" name="BackPhoto" accept="image/*" required /> <br />
                    <span class="file-btn">Выберите файл</span>
                </div>

                <button type="submit">Добавить</button>
            }
            else
            {
                <p>Не удалось получить список категорий</p> <br />
            }
            <p>@ViewBag.Message</p> <br />
        </form>
    </div>

    
    <div id="foodModal" class="food-modal">
        <div class="food-modal-content">
            <div class="food-modal-header">
                <h2> Добавление нового блюда</h2>
                <span class="food-modal-close">&times;</span>
            </div>
            <div class="food-modal-body">
                <div id="formContainer">
                    
                </div>
            </div>
        </div>
    </div>

    <script src="~/JS/AddFood.js"></script>
    <script src="~/JS/goToPage.js"></script>
</body>
</html>