<!-- Страница для добавления новых акций -->
@model CafeWeb.Models.AdminOfferModel
@{
    string tomorrow = DateTime.Now.AddDays(1).ToString("yyyy-MM-dd");
}
<!DOCTYPE HTML>
<html>
    <head>
        <link rel="icon" href="~/IMG/logo-cafe.png" type="image/png">
        <link href="~/CSS/admin-offer.css" rel="stylesheet" />
        <title>Создание новой акции</title>
    </head>
    <body>
        <noscript>
        <!-- Отображается только если у пользователя выключен js в браузере -->
        <div style="background-color: #f44336; color: white; padding: 20px; text-align: center;">
            Для полноценной работы сайта включите JavaScript в настройках вашего браузера.
        </div>
    </noscript>
        <div class="container">
            <img id="logo"src="~/IMG/logo-cafe.png" />
            <div class="admin-header">
                <button id="openOfferModal" class="add-offer-btn">Создать акцию</button>
                <button class="btn-go" onclick="goToPage('/admin/index')">В админские угодия</button>
            </div>
                <form id="originalForm" method="post" action="/admin/newoffer">
            
                    @if (Model.Foods != null && Model.Foods.Any())
                    {
                        <div class="custom-select" id="foodSelect">
                            <label>Выберите позиции для акции:</label>
                            @foreach (var kvp in Model.Foods)
                            {
                                <div class="custom-option" onclick="toggleOption(this)" data-value="@kvp.Key">
                                    <input type="checkbox" name="FoodIds" value="@kvp.Key" style="display: none;" />
                                    <img src="@Url.Content($"~{kvp.Value.FrontImageAddress}")" alt="@kvp.Value.Name" />
                                    <span>@kvp.Value.Name</span>
                                </div>
                            }
                        </div>
                        <div id="form-input">
                            <label> Название акции: </label> <br />
                            <input type="text" name="Offer.Name" maxlength="100" required /> <br />

                            <label>Описание акции: </label> <br />
                            <textarea name="Offer.Description" required ></textarea> <br />

                            <label>Скидка (в процентах): </label> <br />
                            <input type="number" min="0" max="100" name="Offer.Discount" required /> <br />

                            <label>Дата начала акции: </label> <br />
                            <input type="date" name="Offer.StartsAt" required /> <br />

                            <label>Дата конца акции: </label> <br />
                            <input type="date" name="Offer.EndsAt" min="@tomorrow" required /> <br />

                            <p>@ViewBag.Message</p> <br/> <!-- Вывод информации в случае невозможности добавления (получаем только при пересылке с post-метода) -->

                            <button type="submit">Добавить</button>
                        </div>
                    }
                    else
                    {
                        <p>Не удалось получить список блюд</p> <br />
                    }
                </form>
        </div>

        <!-- Модальное окно -->
        <div id="OfferModal" class="offer-modal">
            <div class="offer-modal-content">
                <div class="offer-modal-header">
                    <h2> Добавление новой акции</h2>
                    <span class="offer-modal-close">&times;</span>
                </div>
                <div class="offer-modal-body">
                    <div id="formContainer">
                        <!-- Сюда будет скопирована форма -->
                    </div>
                </div>
            </div>
        </div>
        <script src="~/JS/addOffer.js"></script>
        <script src="~/JS/goToPage.js"></script>
        <script>
            function toggleOption(element) {
                element.classList.toggle('selected');
                const checkbox = element.querySelector('input[type="checkbox"]');
                checkbox.checked = !checkbox.checked;
            }
    
            // При отправке формы
            document.querySelector('form').addEventListener('submit', function() {
                document.querySelectorAll('.custom-option input').forEach(cb => {
                    cb.disabled = false;
                });
            });
        </script>
   </body>
</html>
