@model CafeWeb.Models.Category?

<!DOCTYPE html>
<html>
    <head><title></title></head>
    <body>
        @if(Model is null || !Model.Foods.Any())
        {
        <p>В данный момент вы еще не добавили ни одного блюда в избранное</p>
        }
        else 
        {
            <h3>ИЗБРАННОЕ</h3>
            @foreach(var food in Model.Foods)
            {
                <div class="card">
                    <div class="card-images">
                        <img id="front-img" src="@Url.Content($"~{food.FrontImageAddress}")" alt="@food.Name" class="front-image" />
                        <img id="back-img" src="@Url.Content($"~{food.BackImageAddress}")" alt="@food.Name" class="back-image" />
                    </div>
                    <span class="card-title">@food.Name</span>
                    <button type="button" onclick="addToCart(@food.Id)">Добавить в корзину</button>
                    <button type="button" onclick="updateFavourite(@food.Id)">Добавить в избранное</button>
                </div>
            }
        }
</body>
</html>