@using System.Text.Json
@model List<CafeWeb.Models.OfferUserModel>

<!--Акции как купоны в кфс-->
<!--Акции для которых продукты не добавлены дейтсвует как акция в обычном понимании, но при выполнени условий-->
<!--Например: Скидка в честь ДР-->

<!DOCTYPE html>
<html>
    <head><title></title></head>
    <body>
        @if(Model is null || !Model.Any())
        {
            <p>В данный момент нет доступных акций</p>
        }
        else foreach(var offer in Model)
        {
            <div class="offer-info">
                <div>
                    <h3>Акция @offer.Offer.Name</h3>
                    <p>@offer.Offer.Description</p>
                </div>
                <div>
                    @if(offer.Foods is not null && offer.Foods.Any())
                    {
                        <p>В акцию входят следующие товары: </p>
                        @foreach (var food in offer.Foods)
                        {
                            <p data-food-id="@food.Id">@food.Name</p>
                        }
                        <p>Цена: <span>@offer.Foods.Sum(f => f.Price * (1 - offer.Offer.Discount)).ToString("N2")</span></p>
                        <button onclick="addToCart('@offer.Offer.Name', @offer.Offer.Id, @JsonSerializer.Serialize(offer.Foods.Select(f => f.Id)), @offer.Offer.Discount)">Добавить в корзину</button>
                    }
                    else
                    {
                        <div>
                            <p>Акция распространяется на все товары, но только при соблюдении условий!</p>
                            <p>
                                Акция со скидкой
                                <span>@(offer.Offer.Discount * 100)%</span>
                                действует с
                                <span>@offer.Offer.StartsAt.ToString("dd-MM-yyyy")</span> до <span>@offer.Offer.EndsAt.ToString("dd-MM-yyyy")</span>
                            </p>
                        </div>
                    }
                </div>
            </div>
        }
        <script src="~/JS/showNotification.js"></script>
        <script src="~/JS/addOfferToCart.js"></script>
    </body>
</html>