@model List<CafeWeb.Models.Order>

<!DOCTYPE html>
<html>
    <head>
    
    </head>
    <body>
        <noscript>
            <!-- Отображается только если у пользователя выключен js в браузере -->
            <div style="background-color: #f44336; color: white; padding: 20px; text-align: center;">
                Для полноценной работы сайта включите JavaScript в настройках вашего браузера.
            </div>
        </noscript>
        @if (!Model.Any())
        {
            <p>Вы пока не сделали ни одного заказа</p>
        }
        else foreach (var order in Model)
        {
            <div class="order">
                <div class="order-status">
                    <h3>
                        ЗАКАЗ №
                        <span>@order.Number.ToUpper()</span>
                    </h3>
                    <p>@order.Status</p>
                    <p>
                        Заказ создан:
                        <span>@order.CreatedAt</span>
                    </p>
                </div>
                <div class="positions">
                    @foreach (var cartItem in order.CartItems)
                    {
                        <p>@cartItem.Food.Name x @cartItem.Quantity шт.</p>
                    }
                    <p>@order.CartItems.Sum(i => i.Total) руб.</p>
                </div>
            </div>
        }
    </body>
</html>