@model CafeWeb.Models.Cart

<!DOCTYPE html>
<html>
    <head>
        <title>Корзина</title>
    </head>
    <body>
    @foreach(var offer in Model.OfferItems)
    {
        <div data-offer-id="@offer.Id">
            <p>Акция №@offer.Id '@offer.Name'</p>

            <p>
                Количество:
                <span data-offer-quantity="@offer.Id">@offer.Quantity</span>
            </p>

            @foreach(var food in offer.Foods)
            {
                <p>@food.Name</p>
            }

            <p>
                Общее:
                <span data-offer-total="@offer.Id">@offer.Total.ToString("N2")</span>
            </p>
            <button type="button" onclick="updateOfferQuantity(@offer.Id, -1)"> - </button>
            <button type="button" onclick="updateOfferQuantity(@offer.Id, 1)"> + </button>
        </div>
    }
    @foreach(var item in Model.Items)
    {
        <div data-id="@item.Food.Id">
            <p>@item.Food.Name</p>
            <p>
                Количество:
                <span data-quantity="@item.Food.Id">@item.Quantity</span>
            </p>

            <p>Цена за блюдо: </p>
            <p>@item.Food.Price.ToString("N2")</p>

            <p>
                Общее:
                <span data-total="@item.Food.Id">@item.Total</span>
            </p>
            <button type="button" onclick="updateQuantity(@item.Food.Id, -1)"> - </button>
            <button type="button" onclick="updateQuantity(@item.Food.Id, 1)"> + </button>
        </div>
    }
    <p>
        Общее количество:
        <span id="totalQuantity">@Model.TotalItems</span>
    </p>
    <p>
        Всего: 
        <span id="totalPrice">@Model.TotalAmount.ToString("N2")</span>
    </p>
    <button type="button" onclick="clearCart()">Очистить корзину</button>
    <button type="button" onclick="goToPage('/payment/index')">Перейти к оплате</button>
    <script src="~/JS/goToPage.js"></script>
    <script src="~/JS/showNotification.js"></script>
    <script src="~/JS/cart.js"></script>
    </body>
</html>